/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans';
}

#logo {
	z-index: 5;
}
#background {
	z-index: 2;
}
#beforebackground {
	z-index: 1;
}
#background, #beforeBackground, #geoimage {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}
input:focus {
	border: 2px ridge black;
	border-radius: 5px;
}

input, button, #units {
	font-family: 'Open Sans';
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

#geo {
	margin-top: 15px;
	width: 60%;
}

button {	
	font-size: 15px;
	box-shadow: 0px 3px 0px #888888;
}

button:hover {
	transition: background-color 300ms;
	background-color: #E1E3E3;
}

button.onclick {
	transition: background-color, transform, box-shadow;
	transition-duration: 400ms;
	background-color: #BDBDBD;
	box-shadow: none;
	transform: translateY(3px);
}
button.onup {
	transition: background-color, transform, box-shadow;
	transition-duration: 400ms;
	background-color: "";
	box-shadow: 0px 3px 0px #888888;
	transform: translateY(-1px);
}

#weather {
	font-weight: bold;
	text-align: center;
}

#infoGenerated {
	margin-top: 15px;
}

#text {
	position: absolute;
	z-index: 555;
	background: linear-gradient(90deg, rgba(79,220,247,1) 0%, rgba(210,243,251,1) 50%, rgba(79,220,247,1) 100%);
	padding: 25px;
	padding-bottom: 5px;
	border-radius: 15px;
}
#text p {
	font-family: 'Ubuntu' !important;
	margin: 0;
}
#name p {
	display: inline;
	margin-right: 10px;
}


#credit {
	position: absolute;
	left: 0;
	width: 100vw;
	z-index: 5;
}

#credit::before {
	content: ""; /* empty but necessary */
	position: absolute;
	width: 100vw;
	height: 60px;
	background-color: rgba(211,211,211, 1);
}

#credit span:first-child {
	position: absolute;
	top: 3px;
}
#credit span:last-child {
	position: absolute;
	right: 0;
	margin-right: 10px;
	top: 3px;
}

@media only screen and (max-width: 730px) {
	#credit span:first-child {
		font-size: 13px;
	}

}

@media only screen and (max-width: 600px) {
	#credit span:first-child {
		font-size: 10px;
		line-height: 30px;
	}
	#credit span:last-child {
		font-size: 14px;
		line-height: 25px;
	}
}
@media only screen and (max-width: 410px) {
	#credit span:first-child {
		left: 20px !important;
	}
}
@media only screen and (max-width: 500px) {
	#credit span:first-child {
		font-size: 9px;
	}
	#credit span:last-child {
		font-size: 12px;
	}
}

@media only screen and (max-width: 1383px) {
	#search {
		margin-top: 15px;
		width: 60%;
	}
}

@media only screen and (max-width: 941px) {
	input {
		display: block;
		width: 90% !important;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	#units {
		width: 100px;
	}
	input::placeholder {
		font-size: 18px !important;
	}
}

input {
	width: 30%
}
input::placeholder {
	font-size: 16px;
}

@media only screen and (max-width: 1050px) {
	input::placeholder {
		font-size: 14px;
	}
	
}
